.article-edit {
  form {
    input[type='submit'] {
      &:hover {
        animation: pulse;
        animation-duration: 2s;
      }
    }
    fieldset {
      legend {
        position: relative;
        &::after {
          content: '';
          display: block;
          height: 2px;
          background-color: #176d2842;
          width: 50%;
          margin-top: 8px;
          margin-right: 6px;
        }
      }
    }
  }
}
